/* <!-- обертка для макетов и фильтр-меню  --> */
.wrapper-content-filter {
  display: flex;
  justify-content: space-between;

  /* обертка для каждого вида макетов */
  & .wrapper-menu-content {
    display: none;
    max-width: 77%;

    @media screen and (max-width: 1019px) {
      max-width: 55%;
    }
  }
  & .previous {
    img {
      filter: grayscale();
    }
  }
}

/* // название макета МОЖНО СКОПИРОВАТЬ */
p.title {
  display: inline-flex;
  margin: 0;
  margin-top: 0.3em;
  padding: 0.1em 0.3em;
  font-size: .8em;
  border: 1px solid black;
  border-radius: 0.4em;
  cursor: pointer;

  /* @media screen and (max-width: 1019px) {
    font-size: .8em;
  } */
}

/* /////////////////////////////////////////////////////////////////// */

/* ФИЛЬТР МЕНЮ  */
.filter-menu {
  background-color: rgba(var(--ids__text-RGB), 0.1);
  padding: 0.6em 0.6em;
  margin-left: .5em;
  border-radius: 0.4em;
  max-height: fit-content;
  width: 24%;

  @media screen and (max-width: 1019px) {
    width: 50%;
    margin-left: 0.1em;
  }

  & h1 {
    font-size: 1.5em;
    line-height: 1.35em;
    /* font-weight: 550; */

    @media screen and (max-width: 1019px) {
      font-size: 1.2em;
      
    }
  }

  & p {
    font-size: .9em;
    font-weight: 500;
   

    /* @media screen and (max-width: 1019px) {
      font-size: 0.9em;
    } */
  }

  /* // формат и период */
  & .fieldset {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    align-items: baseline;
    padding: 0;
    border: none;

    @media screen and (max-width: 1019px) {
      flex-direction: column;
    }  
  }
  & .legend {
    margin: 0;

  }
  
  /* обертка для двух радиокнопок (черных кружков) и текста  */
  & .option-wrap {  
    /* width: 54%; */
    margin-left: 1.3em;
    @media screen and (max-width: 1019px) {
      width: 100%;
    }
    /* обертка для одной радиокнопки  */
    & .option {
      font-size: 0.9em;
      margin-top: .2em;

      @media screen and (max-width: 1019px) {
       align-items: center;
        margin-bottom: .3em;
        font-size: .8em;
      }

      & input {
        
        @media screen and (max-width: 1019px) {
          margin-right: 0.2em;
        }
      }
        /* горизонтальное/вертикальное и период */
      & label {

        @media screen and (max-width: 1019px) {
          font-weight: 450;
        }
      }
    }
  }
  & .format-wrap {
    
    width: 16vw;
    @media screen and (max-width: 1019px) {
      margin-left: 0;
      width: 100%;
    }
  }
  & .period-wrap {
    
    width: 12vw;
    @media screen and (max-width: 1019px) {
      margin-left: 0;
      width: 100%;
    }
  }
}

label {
  cursor: pointer;
}

/* радиокнопки (черные кружки) */
input.radio {
  position: relative;
  width: 16px;
  height: 16px;
  top: 3px;
  margin-right: 0.2em;
  border-radius: 50%;
  border: 1px solid black;
  appearance: none;

  &:focus:not(:focus-visible) {
    outline: 0.5px solid black;
  }

  &:checked {
    border: 2px solid lightgray;
    background-color: black;
    outline: 0.5px solid black; */
    transition: 0.2s all linear;
  }
}

/* ///////////////////////////////////////////////////////////////// */

/* выпадающее меню "Вид меню" */
#dropdown {
  display: flex;
  /* align-items: baseline; */
  height: 2em;
  margin: 2em 0 2em;
  position: relative;


  @media screen and (max-width: 1019px) {
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 0.8em;
    margin: 2em 0 2em;
  }

  & nav {
    width: 100%;
    flex-direction: column;
    
    @media screen and (max-width: 1019px) {
      width: 100%;
    }
  }

  & p {
    
    &:first-of-type {
      white-space: nowrap;
      padding: 0;
      font-weight: 500;
      margin-right: .9em;

      @media screen and (max-width: 1019px) {
        margin-bottom: .2em;
      }
    }
  }
  /* кнопка открытия меню "Выберите" */
  & button {
    display: flex;
    justify-content: center;
    width: 10em;
    white-space: nowrap;
    font-size: 0.9em;
    font-weight: 580;
    padding: 0.3em 5.06em;
    border: 1px solid black;
    border-radius: 1em;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;

    @media screen and (max-width: 1019px) {
      padding: .3em 0.5em .4em;
      /* width: 10em; */
    }

    &.active {
      /* // arrow down */
      & span.arrow {
        margin-bottom: 0;
        margin-top: 0.3em;
        transition: transform 0.3s ease-out;
        transform: rotate(224deg);
      }
    }
  }
  /* // arrow up */
  & span.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border: solid;
    border-color: rgba(var(--ids__text-RGB), 0.75);
    border-width: 0 1.3px 1.3px 0;
    padding: 3px;
    transition: transform 0.3s ease-out, border-color 0.3s ease;
    transform: rotate(45deg);
    margin-right: 0.5em;
    margin-top: 0.2em;
  }

  & ul#menuList {
    display: none;
    position: absolute;
    z-index: 1;
    /* width: -webkit-fill-available; */
    /* width: 62%; */

    @media screen and (max-width: 1019px) {
      width: 100%;
      width: -webkit-fill-available;
    }
    /* пункты Базовое / дальневосточное / без свинины / пицца-бар */
    & li {
      margin: 0;
      margin-top: 0.06em;
      padding: 0.3em 0.4em 0.35em 0.3em;
      font-size: 0.9em;
      background-color: rgb(242, 242, 242);
      border-radius: 1em;
      cursor: pointer;
      
      @media screen and (max-width: 1019px) {
        font-size: .88em;
        margin-top: 0.1em;
        padding: 0.4em 0 0.3em 0.2em;
      }

      &:hover {
        background-color: white;
      }
      &:before {
        content: none;
      }
    }
    &.hide {
      display: none;
    }
    &.active {
      display: block;
    }
  }
  /* описание под каждым видом меню */
  & .description-wrap {
    margin-top: 0.3em;
    padding: 0 0.1em 0 0.2em;

    & p#menu-description {
      font-size: .55em;
      font-weight: 450;
      margin: 0;
      white-space: break-spaces;
    }
    @media screen and (max-width: 1019px) {
      display: none;
    }
  }
}

/* ///////////////////////////////////////////////////////////////// */

/* Название "41 цикл" */
.cycle-name {
  display: flex;
  
  margin: 1.5em 0;

  @media screen and (max-width: 1019px) {
    margin: 1em 0;
    /* justify-content: space-between; */
    align-items: baseline;
  }
  & p {
    &:first-of-type {
      margin-right: 1em;

      @media screen and (max-width: 1019px) {
        margin-right: .5em;
      }
    }
  }
  & p {
    &:last-of-type {
      @media screen and (max-width: 1019px) {
        font-size: .85em;
      }
    }
  }
}

/* ссылка на гайд  */
a.guide-link {
  display: inline-block;
  color: var(--ids__text-RGB);
  border: none;
  font-size: 0.8em;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;

  &:hover {
    border: none;
  }
}

/* ///////////////////////////////////////////////////////////////// */

.active {
  display: block;
}
.hide {
  display: none;
}
.selected {
  color: rgb(var(--ids__hover-RGB));
  border-bottom: 1px solid rgba(var(--ids__hover-RGB), 0.2);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  & input {
    cursor: not-allowed;
  }
  & label {
    cursor: not-allowed;
  }
}
.to-connect {
  /* background-color: red; */
  
  outline: 4px solid rgba(var(--ids__hover-RGB), 1);
  border-radius: 0.4em;
  position: relative;
  & p.title {

    &:after {
      content: 'Нужно подключить';
      display: inline-block;
      position: absolute;
      background-color: rgba(var(--ids__background-RGB), .7);
      right: 2em;
      /* margin-left: .5em;
      margin-top: .6em; */
      padding: 0 .3em;
      font-size: .45em;
      font-weight: 600;
      width: 7em;
      color: rgba(var(--ids__hover-RGB), 1);
    }
  }
}