/* <!-- обертка для макетов и фильтр-меню  --> */
.wrapper-content-filter {
 
  /* // название макета МОЖНО СКОПИРОВАТЬ */
  p.title {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0.3em 0;
    border: 1px solid;
    border-color: rgba(var(--ids__text-RGB), 0.4);
    border-radius: 0.4em;
    cursor: pointer;
    min-height: 2em;
    min-width: 8.7em;
    width: 100%;
    overflow: hidden;
    word-break: break-word;
    transition: color 0.5s ease, border-color 0.5s ease;
    &:after {
      content: url('/copy.svg');
      content: url('/tv-menu-monitor.github.io/copy.svg');
      position: sticky;
      display: flex;
      justify-content: flex-end;
      margin-top: -1.25em;
      margin-right: 0.5em;
      opacity: 0.7;
      filter: grayscale(1);
      transition: filter 0.3s ease;
    }
    
    &:hover {
      border-color: rgba(var(--ids__hover-RGB), 1);
      color: rgb(var(--ids__hover-RGB));
      transition: color 0s ease, border-color 0s ease;

      &:after {
        filter: none;
        transition: filter 0s ease;
      }
    }
  }
  p.comment {
    padding: 0.3em 0.5em 0.3em 0.3em;
    margin-top: 0em;
    width: 100%;
  }

  /* обертка для каждого вида макетов */
  & .wrapper-menu-content {
    display: none;
    margin-top: 2em;
    padding-right: calc((var(--width-filter-menu) + 1em) - 1%);

    @media screen and (max-width: 768px) {
      margin-top: 1em;
      padding-right: 0.8em;
      max-width: 90%;
      width: 100%;
    }

    & img {
      margin-bottom: 0.3em;
    }
  }
  & .previous {
    img {
      filter: grayscale();
    }
    .title {
      cursor: auto;
      border-color: rgba(var(--ids__text-RGB), 0.4);
      &:hover {
        color: rgb(var(--ids__text-RGB));
        border-color: rgba(var(--ids__text-RGB), 0.4);
        cursor: auto;
      }
      &:after {
        display: none;
      }
    }
  }

  & .to-connect {
    position: relative;
    margin: 0;
  
    &:after {
      position: absolute;
      content: "подключается вручную";
      top: -1.5em;
      right: 1.6em;
      font-size: .8em;
      font-weight: 550;
      line-height: 0.96em;
      text-align: center;
      width: 9em;
      border-radius: 5em;
      background-color: rgba(var(--ids__hover-RGB), 1);
      color: rgba(var(--ids__background-RGB), 1);
      padding: 0.6em;
      rotate: 9deg;
    }
  }
  & .time, .rotation {
    font-weight: 600;
  }
}



/* /////////////////////////////////////////////////////////////////// */

/* ФИЛЬТР МЕНЮ  */
.filter-menu {
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgb(var(--ids__background-RGB));
  padding: 0.8em 1em 1.2em;
  margin: 2em 2em 0em 0em;
  border-radius: 0.4em;
  max-height: fit-content;
  width: 14em;
  width: var(--width-filter-menu);
  box-shadow: 0 .3em 1.1em 0 rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 768px) {
    margin: 0.45em 0.7em 0em 0em;
    margin-right: 0em;
    width: 13.8em;
  }

  & h1 {
    font-size: 0.99em;
    line-height: 1.35em;
    font-weight: 580;
  }

  & p.instruction {
    margin-bottom: 1.1em;
  }

  /* // формат и период */
  & .fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    padding: 0;
    border: none;
  }
  & .legend {
    margin: 0;
    margin-bottom: 0.25em;
  }

  /* обертка для двух радиокнопок (черных кружков) и текста  */
  & .option-wrap {
    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
    /* обертка для одной радиокнопки  */
    & .option {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      margin-top: 0.2em;

      @media screen and (max-width: 768px) {
        
        margin-bottom: 0.3em;
      }
      & label {
        margin-left: 0.2em;
      }
    }
  }
  & .format-wrap {
    margin-bottom: 1.1em;
    width: 16vw;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  & .period-wrap {
    margin-bottom: 1.1em;
    width: 12vw;
    @media screen and (max-width: 768px) {
      width: 90%;
    }
  }
}

label {
  cursor: pointer;
}

/* радиокнопки (черные кружки) */
input.radio {
  position: relative;
  width: .95em;
  height: .95em;
  top: 2px;
  border-radius: 50%;
  outline: .06em solid rgb(var(--ids__text-RGB));
  appearance: none;
  cursor: pointer;
  transition: outline 0.5s ease;

  &:focus:not(:focus-visible) {
    outline: .06em solid rgb(var(--ids__text-RGB));
  }

  &:checked {
    border: .15em solid;
    border-color: rgb(var(--ids__background-RGB));
    background-color: rgb(var(--ids__text-RGB));
    transition: 0.2s all linear;
    transition: border-color 0.5s ease;
  }
}

/* // для ховера фомата и периода (надписи и кнопки) */
/* ховеры ниже основных стилей, чтобы захватили все стили радиокнопок, которые выше */
.option {
  transition: color 0.5s ease;

  & input.radio {
    transition: background-color .4s ease, outline 0.5s ease;
  }

  &:hover {
    color: rgb(var(--ids__hover-RGB));
    transition: color 0s ease;

    & input.radio {
      outline: .06em solid rgb(var(--ids__hover-RGB));
      transition: outline 0s ease;

      &:checked {
        outline: .06em solid rgb(var(--ids__hover-RGB));
        border: .15em solid rgb(255 255 255);
        background-color: rgb(var(--ids__hover-RGB));
        transition: border 0s ease, background-color 0s ease;
      }
    }
  }
}

/* ///////////////////////////////////////////////////////////////// */

/* выпадающее меню "Вид меню" */
#dropdown {
  display: flex;
  flex-direction: column;
  height: 2em;
  margin-bottom: 1.1em;
  position: relative;

  @media screen and (max-width: 768px) {
    align-content: flex-start;
  }

  & nav {
    width: 100%;
    flex-direction: column;
  }

  & p {
    &:first-of-type {
      white-space: nowrap;
      padding: 0;
      margin-right: 0.3em;
      margin-bottom: 0.2em;
    }
  }
  /* кнопка открытия меню "Выберите" */
  & button {
    /* display: flex;
    justify-content: center; */
    position: relative;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    padding: 0.5em;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-top-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
    border-end-end-radius: 0.4em;
    border-end-start-radius: 0.4em;
    border-color: rgba(var(--ids__text-RGB), 0.3);
    background-color: rgb(var(--ids__background-RGB));
    box-shadow: none;
    cursor: pointer;
    color: rgb(var(--ids__text-RGB));
    transition: border-color 0.5s ease, color 0.5s ease;

    &:hover {
      color: rgb(var(--ids__hover-RGB));
      border-color: rgb(var(--ids__hover-RGB));
      transition: border-color 0s ease, color 0s ease;
      & span.arrow {
        border-color: rgb(var(--ids__hover-RGB));
        transition: border-color 0s ease, color 0s ease;
      }
    }

    &.active {
      border-bottom: none;
      border-end-end-radius: 0em;
      border-end-start-radius: 0em;
      border-color: rgb(var(--ids__text-RGB));
      color: rgb(var(--ids__text-RGB));
      /* // arrow down */
      & span.arrow {
        margin-bottom: 0;
        margin-top: 0.25em;
        border-color: rgb(var(--ids__text-RGB));
        transform: rotate(224deg);
      }
    }
    &:not(.active) span.arrow {
      /* transition: transform 0.3s ease-out; */
    }
  }
  /* // arrow up */
  & span.arrow {
    display: inline-block;
    position: fixed;
    width: 0;
    height: 0;
    border: solid;
    border-color: rgba(var(--ids__text-RGB), 0.75);
    border-width: 0 1.3px 1.3px 0;
    padding: 3.5px;
    transform: rotate(45deg);
    transition: border-color 0s ease;
    top: 5.8em;
    right: 3.8em;

    @media screen and (max-width: 768px) {
      top: 4.4em;
      right: 2em;
    }
  }
 
  & ul#menuList {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: rgb(var(--ids__background-RGB));
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-end-end-radius: 0.4em;
    border-end-start-radius: 0.4em;
    border-color: rgb(var(--ids__text-RGB));

    @media screen and (max-width: 768px) {
      width: 100%;
      width: -webkit-fill-available;
    }
    
    
    /* пункты Базовое / дальневосточное / без свинины / пицца-бар */
    & li {
      margin: 0;
      padding: 0.3em 0em 0.35em 2em;
      cursor: pointer;
      color: rgb(var(--ids__text-RGB));
      transition: background-color 0.3s ease;

      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0.4em 0 0.3em 2em;
      }
      &:last-child {
        border-end-end-radius: 0.4em;
        border-end-start-radius: 0.4em;
      }

      &[data-selected]{
        border-radius: 0;
        background-color:rgb(255, 218, 192);
        transition: background-color 0.3s ease;
        cursor: auto;
        
        &:before {
          content: '✓';
          padding-left: .5em;
        }
        &:last-child {
          border-end-end-radius: 0.4em;
          border-end-start-radius: 0.4em;
        }
      }
      
      &:hover {  
        background-color:rgb(255, 218, 192);
        background-color:rgb(255, 218, 192) !important;
        transition: background-color 0s ease;
        border-radius: 0;
      
        &:last-child {
          border-end-end-radius: 0.4em;
          border-end-start-radius: 0.4em;
        }
      }
      &:before {
        content: none;
      }
      &.hovered {
        background-color: rgb(255, 218, 192);
        background-color: rgb(255, 218, 192) !important;
      }  
    }



    &.hide {
      display: none;
    }
    &.active {
      display: block;
    }
    &:hover li[data-selected] {
      background-color: transparent;
    }
  }
  /* описание под каждым видом меню */
  & .description-wrap {
    margin-top: 0.3em;
    padding: 0 0.1em 0 0.2em;

    & p#menu-description {
      font-size: 0.55em;
      margin: 0;
      white-space: break-spaces;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

/* ///////////////////////////////////////////////////////////////// */

/* ссылка на гайд  */
a.guie-link {
  display: inline;
  color: var(--ids__text-RGB);
  border: none;
  border-bottom: 1px solid rgba(var(--ids__text-RGB), 0.2);
  text-decoration: none;
  transition: color 0.5s ease, border 0.5s ease;

  &:hover {
    color: rgb(var(--ids__hover-RGB));
    border-bottom: 1px solid rgba(var(--ids__hover-RGB), 0.2);
    transition: color 0s ease, border 0s ease;
  }
}

/* ///////////////////////////////////////////////////////////////// */

.active {
  display: block;
}
.hide {
  display: none;
}
.selected {
  /* color: rgb(var(--ids__hover-RGB));
  border-bottom: 1px solid rgba(var(--ids__hover-RGB), 0.2); */
  background-color: blue;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  & input {
    cursor: not-allowed;
  }
  & label {
    cursor: not-allowed;
  }
}
.already-choise